*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: rgb(233, 227, 227);
}
.container {
   background-color: aliceblue;
   border-radius: 5px;
   width: 700px;
   margin: auto;
  /*margin-top: 30px;*/
}

main {
    padding-top: 150px;
}

.bt-1{
    background-color: rgb(28, 153, 211);
    border-radius: 5px;
    margin-left: 2em;
}
.border-line{ 
    border-bottom: 1px solid rgb(145, 138, 138); 
    padding-top: 1em;
 }
.task{
    margin-left: 2.5em; 
    padding-top: 2em;
    margin-bottom: 1em;
 }   
.editorial{
    background-color: rgb(28, 153, 211);
    color: white;
    border-radius: 5px;
    padding: 0.3rem;
}
.today{
    margin-left: 2.5em; 
    padding-top: 2em;
    margin-bottom: 1em;
 } 
 .q1-goals{
    background-color: rgb(118, 84, 146);
    color: white;
    border-radius: 5px;
    padding: 0.3rem;
 }