*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: rgb(233, 227, 227);
}
.container {
   background-color: aliceblue;
   border-radius: 5px;
   width: 700px;
   margin: auto;
  /*margin-top: 30px;*/
}

main {
    padding-top: 150px;
}

.bt-1{
    background-color: rgb(28, 153, 211);
    border-radius: 5px;
    margin-left: 2em;
}
.border-line{ 
    border-bottom: 1px solid rgb(145, 138, 138); 
    padding-top: 1em;
 }
.h1{
    margin-left: 2.5em; 
    padding-top: 2em;
    margin-bottom: 1em;
 }   
.editorial{
    background-color: rgb(28, 153, 211);
    color: white;
    border-radius: 8px;
    padding: 0.2rem 0.6em;
}

 .q1-goals{
    background-color: rgb(118, 84, 146);
    color: white;
    border-radius: 8px;
    padding: 0.2rem 0.6em; 
 }
 .spec{
    margin-left: 2.5em;    
    margin-bottom: 1em;
 }  
 .recruiting{
    background-color: rgb(64, 163, 133);
    color: white;
    border-radius: 8px;
    padding: 0.2rem 0.6em; 
 } 
 .mobile{
    background-color: rgb(233, 142, 23);
    color: white;
    border-radius: 8px;
    padding: 0.2rem 0.6em; 
 } 
 .website{
    background-color: rgb(235, 100, 183);
    color: white;
    border-radius: 8px;
    padding: 0.2rem 0.6em; 
 } 
 .sales{
    background-color: rgb(146, 185, 4);
    color: white;
    border-radius: 8px;
    padding: 0.2rem 0.6em; 
} 